//Colors
//Primary
$dark-cyan: hsl(185, 75%, 39%);
$desaturated-blue: hsl(229, 23%, 23%);
$grayish-blue: hsl(227, 10%, 46%);

//neutral
$dark-gray: hsl(0, 0%, 59%);

:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: $dark-cyan;
  color: $desaturated-blue;
  
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.card-container {
  height: 400px;
  width: 350px;
  background-color: white;
  border-radius: 20px;
  position: relative;

  .card-bg-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .profile-pic {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/images/image-victor.jpg);
    background-size: cover;
    border: 5px solid #fff;
  }
}

.info {
  border-bottom: 1px solid hsla(0, 0%, 59%, 0.3);
  text-align: center;
  margin-top: 75px;
  padding-bottom: 20px;

  .name {
    margin-bottom: 10px;
    font-size: 1.25rem;
  }

  .age,
  .location {
    color: $grayish-blue;
    font-weight: 400;
  }
}

.stats {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 30px;

  .stat {
    display: flex;
    flex-direction: column;
    text-align: center;

    span {
      margin-top: 10px;
      font-weight: 400;
      color: $dark-gray;
      text-transform: capitalize;
      font-size: 0.625rem;
      letter-spacing: 2px;
    }
  }
}

.circles {
  .top,
  .bottom {
    width: 500px;
  }

  .top {
    position: absolute;
    top: -250px;
    left: -275px;
  }

  .bottom {
    position: absolute;
    bottom: -210px;
    right: -300px;
  }
}

@media (min-width: 1440px) {
  body {
    // overflow: hidden;
    // position: relative;
    //height: 100vh;
  }
   .section {
     
   }

  .circles {
    .top, .bottom{
      width: 1000px;
    }

    .top {
      top: -300px;
      left: -300px;
    }

    .bottom {
      bottom: -210px;
      right: -300px;
    }
  }
}
